<div class='outingBorder naving'>
    <a href='/greeted'><i class="fas fa-arrow-left"></i> previous</a>
    <a href='/home_page'><i class="fas fa-home"></i> home</a>
    <br />
    <h1>Name Counted</h1>
</div>
<div class='row'>
    <div class = 'posGreets'>
        <p>Hello, <span style="font-weight:bold; font-size:30px; text-transform:capitalize;">{{name}}</span> has been greeted
            <span style="font-weight:bold; font-size:30px;">{{counter}}</span> times.</p>
    </div>

</div>