<h1>Greeted Name</h1>
<div class = 'row'>
    <div style="text-align: center;">
        <p>Hello, <span style="font-weight:bold; font-size:30px; text-transform:capitalize;">{{name}}</span> has been greeted <span style="font-weight:bold; font-size:30px;">{{counter}}</span> times.</p>
    </div>
</div>