<h1>Greeted Name</h1>
<div class = 'row'>
    <div class = 'outingBorder'>
        <div class = 'row'>
            <a class = 'col-4' href ='/greeted'>previous</a>
            <a class = 'col-8' href ='/home_page'>home</a>
        </div>
    </div>    
    <div style="text-align: center;">
        <p>Hello, <span style="font-weight:bold; font-size:30px; text-transform:capitalize;">{{name}}</span> has been greeted <span style="font-weight:bold; font-size:30px;">{{counter}}</span> times.</p>
    </div>
</div>