<div class="header">
    <h1>Greetings</h1>
</div>
<form action='/greetings' method='get'>
    <div class="row">
        <div class="col-4">
            <h3>Please enter your name </h3>
            <input type='text' name="myName" class="theName">
            <span class='bigNumber'> {{number}} </span>
        </div>

    </div>
    <div class="row">
        <div class='col-2'>
            <!--<h5>IsiXhosa</h5>-->
            <label class="">
                <input type="radio" name="language" class="languageSelected" value="isixhosa">
                <span class="label-body">IsiXhosa</span>
            </label>
        </div>
        <div class='col-2'>
            <!--<h5>English</h5>-->
            <label class="">
                <input type="radio" name="language" class="languageSelected" value="english">
                <span class="label-body">English</span>
            </label>
        </div>
        <div class='col-2'>
            <!--<h5>afrikaans</h5>-->
            <label class="">
                <input type="radio" name="language" class="languageSelected" value="afrikaans">
                <span class="label-body">Afrikaans</span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <button class="button-primary " type="submit" name="button" id="me">Greet Me</button>
        </div>
    </div>
</form>
<div class='row'>
    <div class="col-6">
        <button class="button-primary " type="submit" name="button" id="reset">Reset</button>
    </div>
</div>

<div class="footer">
    <p class='changeThis'> {{message}}</p>
</div>