<div class="header">
    <h1>Greetings</h1>
    <i class="far fa-handshake"></i>
</div>
<form action='/greetings' method='get'>
    <div class="row">
        <div class="col-4">
            <h3>Please enter your name </h3>
            <input type='text' name="myName" class="">
            <span class='bigNumber'> {{number}} </span>
        </div>

    </div>
    <div class="row">
        <div class='col-2'>
            <!--<h5>IsiXhosa</h5>-->
            <label class="">
                <input type="radio" name="language" class="languageSelected" value="isixhosa">
                <span class="label-body">IsiXhosa</span>
            </label>
        </div>
        <div class='col-2'>
            <!--<h5>English</h5>-->
            <label class="">
                <input type="radio" name="language" class="languageSelected" value="english">
                <span class="label-body">English</span>
            </label>
        </div>
        <div class='col-2'>
            <!--<h5>afrikaans</h5>-->
            <label class="">
                <input type="radio" name="language" class="languageSelected" value="afrikaans">
                <span class="label-body">Afrikaans</span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <button class="button-primary " type="submit" name="button" id="me">Greet Me</button>
        </div>
    </div>
</form>
  <!-- <form action = '/counter/myName' method ='get'>
        <button>Show name</button>
    </form>
   -->  
<div class='row'>
    <div class="col-6">
        <form action = 'greeted' method='post'>
            <button class="button-primary " type="submit" name="button" id="view"><i class="fas fa-users"></i>Users</button>
        </form>
    </div>
    <div class="col-6">
        <form action = 'deleted' method='post'>
            <button class="button-primary " type="submit" name="button" id="delete"><i class="fas fa-minus-circle"></i>delete</button>
        </form>
    </div>
</div>

<div class="footer">
    <p class='changeThis'> {{message}}</p>
</div>