<div class='outingBorder naving'>
    <a href ='home_page'><i class="fas fa-arrow-left"></i> previous</a>
    <br />
    <h1>Greeted Name</h1>
</div>
<div class='row'>
    
    <p>The following are the names of greeted people</p>
    <table>
        <tr>
            <th>Names</th>
        </tr>
        {{#each names}}
        <tr>
            <td><a href='/counter/{{name}}'><span style="text-transform:capitalize;">{{name}}</span></a></td>
        </tr>
        {{/each}}
    </table>
</div>