body{
    margin-top: 10px;
    background: #f9f9f9;
}
.outingBorder{
    padding: 7px;
    height: 100px;
    border: 4px;
    background-color: #9933cc;
    color: #ffffff;
}
.naving a{
    padding-right: 10px;
    color: #D5D8DC;
    text-decoration-line: none;
    float: right;
}
.naving a:hover{
   color :#FDFEFE;
   transition-duration: 700ms;
   transition-property: all;
   transition-timing-function: cubic-bezier(0.7, 1, 0.71, 1);
   font-size: 18px;   
}
h2{
    padding :10px;
}
.fa-home{
    color: gold;
}
.fa-arrow-left{
    color: gold;
}
.fa-users{
    color: #F7F9F9;  
}
.fa-handshake{
    font-size: 25px;
    margin-left: 50%;
    color: gold;
}
.fa-minus-circle{
    color: red;
}
.posGreets{
    margin-top: 55px;
    text-align: center;
}